# JSON examples and exercise
****
+ get familiar with packages for dealing with JSON
+ study examples with JSON strings and files 
+ work on exercise to be completed and submitted 
****
+ reference: http://pandas.pydata.org/pandas-docs/stable/io.html#io-json-reader
+ data source: http://jsonstudio.com/resources/
****

In [1]:
import pandas as pd

## imports for Python, Pandas

In [2]:
import json
from pandas.io.json import json_normalize

## JSON example, with string

+ demonstrates creation of normalized dataframes (tables) from nested json string
+ source: http://pandas.pydata.org/pandas-docs/stable/io.html#normalization

In [3]:
# define json string
data = [{'state': 'Florida', 
         'shortname': 'FL',
         'info': {'governor': 'Rick Scott'},
         'counties': [{'name': 'Dade', 'population': 12345},
                      {'name': 'Broward', 'population': 40000},
                      {'name': 'Palm Beach', 'population': 60000}]},
        {'state': 'Ohio',
         'shortname': 'OH',
         'info': {'governor': 'John Kasich'},
         'counties': [{'name': 'Summit', 'population': 1234},
                      {'name': 'Cuyahoga', 'population': 1337}]}]

In [4]:
# use normalization to create tables from nested element
json_normalize(data, 'counties')

         name  population
0        Dade       12345
1     Broward       40000
2  Palm Beach       60000
3      Summit        1234
4    Cuyahoga        1337

In [5]:
# further populate tables created from nested element
json_normalize(data, 'counties', ['state', 'shortname', ['info', 'governor']])

         name  population    state shortname info.governor
0        Dade       12345  Florida        FL    Rick Scott
1     Broward       40000  Florida        FL    Rick Scott
2  Palm Beach       60000  Florida        FL    Rick Scott
3      Summit        1234     Ohio        OH   John Kasich
4    Cuyahoga        1337     Ohio        OH   John Kasich

****
## JSON example, with file

+ demonstrates reading in a json file as a string and as a table
+ uses small sample file containing data about projects funded by the World Bank 
+ data source: http://jsonstudio.com/resources/

In [6]:
# load json as string
json.load((open('data/world_bank_projects_less.json')))

[{'_id': {'$oid': '52b213b38594d8a2be17c780'},
  'approvalfy': 1999,
  'board_approval_month': 'November',
  'boardapprovaldate': '2013-11-12T00:00:00Z',
  'borrower': 'FEDERAL DEMOCRATIC REPUBLIC OF ETHIOPIA',
  'closingdate': '2018-07-07T00:00:00Z',
  'country_namecode': 'Federal Democratic Republic of Ethiopia!$!ET',
  'countrycode': 'ET',
  'countryname': 'Federal Democratic Republic of Ethiopia',
  'countryshortname': 'Ethiopia',
  'docty': 'Project Information Document,Indigenous Peoples Plan,Project Information Document',
  'envassesmentcategorycode': 'C',
  'grantamt': 0,
  'ibrdcommamt': 0,
  'id': 'P129828',
  'idacommamt': 130000000,
  'impagency': 'MINISTRY OF EDUCATION',
  'lendinginstr': 'Investment Project Financing',
  'lendinginstrtype': 'IN',
  'lendprojectcost': 550000000,
  'majorsector_percent': [{'Name': 'Education', 'Percent': 46},
   {'Name': 'Education', 'Percent': 26},
   {'Name': 'Public Administration, Law, and Justice', 'Percent': 16},
   {'Name': 'Education', 'Percent': 12}],
  'mjsector_namecode': [{'code': 'EX', 'name': 'Education'},
   {'code': 'EX', 'name': 'Education'},
   {'code': 'BX', 'name': 'Public Administration, Law, and Justice'},
   {'code': 'EX', 'name': 'Education'}],
  'mjtheme': ['Human development'],
  'mjtheme_namecode': [{'code': '8', 'name': 'Human development'},
   {'code': '11', 'name': ''}],
  'mjthemecode': '8,11',
  'prodline': 'PE',
  'prodlinetext': 'IBRD/IDA',
  'productlinetype': 'L',
  'project_abstract': {'cdata': 'The development objective of the Second Phase of General Education Quality Improvement Project for Ethiopia is to improve learning conditions in primary and secondary schools and strengthen institutions at different levels of educational administration. The project has six components. The first component is curriculum, textbooks, assessment, examinations, and inspection. This component will support improvement of learning conditions in grades KG-12 by providing increased access to teaching and learning materials and through improvements to the curriculum by assessing the strengths and weaknesses of the current curriculum. This component has following four sub-components: (i) curriculum reform and implementation; (ii) teaching and learning materials; (iii) assessment and examinations; and (iv) inspection. The second component is teacher development program (TDP). This component will support improvements in learning conditions in both primary and secondary schools by advancing the quality of teaching in general education through: (a) enhancing the training of pre-service teachers in teacher education institutions; and (b) improving the quality of in-service teacher training. This component has following three sub-components: (i) pre-service teacher training; (ii) in-service teacher training; and (iii) licensing and relicensing of teachers and school leaders. The third component is school improvement plan. This component will support the strengthening of school planning in order to improve learning outcomes, and to partly fund the school improvement plans through school grants. It has following two sub-components: (i) school improvement plan; and (ii) school grants. The fourth component is management and capacity building, including education management information systems (EMIS). This component will support management and capacity building aspect of the project. This component has following three sub-components: (i) capacity building for education planning and management; (ii) capacity building for school planning and management; and (iii) EMIS. The fifth component is improving the quality of learning and teaching in secondary schools and universities through the use of information and communications technology (ICT). It has following five sub-components: (i) national policy and institution for ICT in general education; (ii) national ICT infrastructure improvement plan for general education; (iii) develop an integrated monitoring, evaluation, and learning system specifically for the ICT component; (iv) teacher professional development in the use of ICT; and (v) provision of limited number of e-Braille display readers with the possibility to scale up to all secondary education schools based on the successful implementation and usage of the readers. The sixth component is program coordination, monitoring and evaluation, and communication. It will support institutional strengthening by developing capacities in all aspects of program coordination, monitoring and evaluation; a new sub-component on communications will support information sharing for better management and accountability. It has following three sub-components: (i) program coordination; (ii) monitoring and evaluation (M and E); and (iii) communication.'},
  'project_name': 'Ethiopia General Education Quality Improvement Project II',
  'projectdocs': [{'DocDate': '28-AUG-2013',
    'DocType': 'PID',
    'DocTypeDesc': 'Project Information Document (PID),  Vol.',
    'DocURL': 'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=090224b081e545fb_1_0',
    'EntityID': '090224b081e545fb_1_0'},
   {'DocDate': '01-JUL-2013',
    'DocType': 'IP',
    'DocTypeDesc': 'Indigenous Peoples Plan (IP),  Vol.1 of 1',
    'DocURL': 'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=000442464_20130920111729',
    'EntityID': '000442464_20130920111729'},
   {'DocDate': '22-NOV-2012',
    'DocType': 'PID',
    'DocTypeDesc': 'Project Information Document (PID),  Vol.',
    'DocURL': 'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=090224b0817b19e2_1_0',
    'EntityID': '090224b0817b19e2_1_0'}],
  'projectfinancialtype': 'IDA',
  'projectstatusdisplay': 'Active',
  'regionname': 'Africa',
  'sector': [{'Name': 'Primary education'},
   {'Name': 'Secondary education'},
   {'Name': 'Public administration- Other social services'},
   {'Name': 'Tertiary education'}],
  'sector1': {'Name': 'Primary education', 'Percent': 46},
  'sector2': {'Name': 'Secondary education', 'Percent': 26},
  'sector3': {'Name': 'Public administration- Other social services',
   'Percent': 16},
  'sector4': {'Name': 'Tertiary education', 'Percent': 12},
  'sector_namecode': [{'code': 'EP', 'name': 'Primary education'},
   {'code': 'ES', 'name': 'Secondary education'},
   {'code': 'BS', 'name': 'Public administration- Other social services'},
   {'code': 'ET', 'name': 'Tertiary education'}],
  'sectorcode': 'ET,BS,ES,EP',
  'source': 'IBRD',
  'status': 'Active',
  'supplementprojectflg': 'N',
  'theme1': {'Name': 'Education for all', 'Percent': 100},
  'theme_namecode': [{'code': '65', 'name': 'Education for all'}],
  'themecode': '65',
  'totalamt': 130000000,
  'totalcommamt': 130000000,
  'url': 'http://www.worldbank.org/projects/P129828/ethiopia-general-education-quality-improvement-project-ii?lang=en'},
 {'_id': {'$oid': '52b213b38594d8a2be17c781'},
  'approvalfy': 2015,
  'board_approval_month': 'November',
  'boardapprovaldate': '2013-11-04T00:00:00Z',
  'borrower': 'GOVERNMENT OF TUNISIA',
  'country_namecode': 'Republic of Tunisia!$!TN',
  'countrycode': 'TN',
  'countryname': 'Republic of Tunisia',
  'countryshortname': 'Tunisia',
  'docty': 'Project Information Document,Integrated Safeguards Data Sheet,Integrated Safeguards Data Sheet,Project Information Document,Integrated Safeguards Data Sheet,Project Information Document',
  'envassesmentcategorycode': 'C',
  'grantamt': 4700000,
  'ibrdcommamt': 0,
  'id': 'P144674',
  'idacommamt': 0,
  'impagency': 'MINISTRY OF FINANCE',
  'lendinginstr': 'Specific Investment Loan',
  'lendinginstrtype': 'IN',
  'lendprojectcost': 5700000,
  'majorsector_percent': [{'Name': 'Public Administration, Law, and Justice',
    'Percent': 70},
   {'Name': 'Public Administration, Law, and Justice', 'Percent': 30}],
  'mjsector_namecode': [{'code': 'BX',
    'name': 'Public Administration, Law, and Justice'},
   {'code': 'BX', 'name': 'Public Administration, Law, and Justice'}],
  'mjtheme': ['Economic management', 'Social protection and risk management'],
  'mjtheme_namecode': [{'code': '1', 'name': 'Economic management'},
   {'code': '6', 'name': 'Social protection and risk management'}],
  'mjthemecode': '1,6',
  'prodline': 'RE',
  'prodlinetext': 'Recipient Executed Activities',
  'productlinetype': 'L',
  'project_name': 'TN: DTF Social Protection Reforms Support',
  'projectdocs': [{'DocDate': '29-MAR-2013',
    'DocType': 'PID',
    'DocTypeDesc': 'Project Information Document (PID),  Vol.1 of 1',
    'DocURL': 'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=000333037_20131024115616',
    'EntityID': '000333037_20131024115616'},
   {'DocDate': '29-MAR-2013',
    'DocType': 'ISDS',
    'DocTypeDesc': 'Integrated Safeguards Data Sheet (ISDS),  Vol.1 of 1',
    'DocURL': 'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=000356161_20131024151611',
    'EntityID': '000356161_20131024151611'},
   {'DocDate': '29-MAR-2013',
    'DocType': 'ISDS',
    'DocTypeDesc': 'Integrated Safeguards Data Sheet (ISDS),  Vol.1 of 1',
    'DocURL': 'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=000442464_20131031112136',
    'EntityID': '000442464_20131031112136'},
   {'DocDate': '29-MAR-2013',
    'DocType': 'PID',
    'DocTypeDesc': 'Project Information Document (PID),  Vol.1 of 1',
    'DocURL': 'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=000333037_20131031105716',
    'EntityID': '000333037_20131031105716'},
   {'DocDate': '16-JAN-2013',
    'DocType': 'ISDS',
    'DocTypeDesc': 'Integrated Safeguards Data Sheet (ISDS),  Vol.1 of 1',
    'DocURL': 'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=000356161_20130305113209',
    'EntityID': '000356161_20130305113209'},
   {'DocDate': '16-JAN-2013',
    'DocType': 'PID',
    'DocTypeDesc': 'Project Information Document (PID),  Vol.1 of 1',
    'DocURL': 'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=000356161_20130305113716',
    'EntityID': '000356161_20130305113716'}],
  'projectfinancialtype': 'OTHER',
  'projectstatusdisplay': 'Active',
  'regionname': 'Middle East and North Africa',
  'sector': [{'Name': 'Public administration- Other social services'},
   {'Name': 'General public administration sector'}],
  'sector1': {'Name': 'Public administration- Other social services',
   'Percent': 70},
  'sector2': {'Name': 'General public administration sector', 'Percent': 30},
  'sector_namecode': [{'code': 'BS',
    'name': 'Public administration- Other social services'},
   {'code': 'BZ', 'name': 'General public administration sector'}],
  'sectorcode': 'BZ,BS',
  'source': 'IBRD',
  'status': 'Active',
  'supplementprojectflg': 'N',
  'theme1': {'Name': 'Other economic management', 'Percent': 30},
  'theme_namecode': [{'code': '24', 'name': 'Other economic management'},
   {'code': '54', 'name': 'Social safety nets'}],
  'themecode': '54,24',
  'totalamt': 0,
  'totalcommamt': 4700000,
  'url': 'http://www.worldbank.org/projects/P144674?lang=en'}]

In [7]:
# load as Pandas dataframe
sample_json_df = pd.read_json('data/world_bank_projects_less.json')
sample_json_df

,_id,approvalfy,board_approval_month,boardapprovaldate,borrower,closingdate,country_namecode,countrycode,countryname,countryshortname,...,sectorcode,source,status,supplementprojectflg,theme1,theme_namecode,themecode,totalamt,totalcommamt,url
0,{'$oid': '52b213b38594d8a2be17c780'},1999,November,2013-11-12T00:00:00Z,FEDERAL DEMOCRATIC REPUBLIC OF ETHIOPIA,2018-07-07T00:00:00Z,Federal Democratic Republic of Ethiopia!$!ET,ET,Federal Democratic Republic of Ethiopia,Ethiopia,...,"ET,BS,ES,EP",IBRD,Active,N,"{'Percent': 100, 'Name': 'Education for all'}","[{'code': '65', 'name': 'Education for all'}]",65,130000000,130000000,http://www.worldbank.org/projects/P129828/ethi...
1,{'$oid': '52b213b38594d8a2be17c781'},2015,November,2013-11-04T00:00:00Z,GOVERNMENT OF TUNISIA,NaN,Republic of Tunisia!$!TN,TN,Republic of Tunisia,Tunisia,...,"BZ,BS",IBRD,Active,N,"{'Percent': 30, 'Name': 'Other economic manage...","[{'code': '24', 'name': 'Other economic manage...","54,24",0,4700000,http://www.worldbank.org/projects/P144674?lang=en

****
## JSON exercise

Using data in file 'data/world_bank_projects.json' and the techniques demonstrated above,
1. Find the 10 countries with most projects
2. Find the top 10 major project themes (using column 'mjtheme_namecode')
3. In 2. above you will notice that some entries have only the code and the name is missing. Create a dataframe with the missing names filled in.

In [8]:
wb_json_df = pd.read_json('data/world_bank_projects.json')
wb_json_df.head()

,_id,approvalfy,board_approval_month,boardapprovaldate,borrower,closingdate,country_namecode,countrycode,countryname,countryshortname,...,sectorcode,source,status,supplementprojectflg,theme1,theme_namecode,themecode,totalamt,totalcommamt,url
0,{'$oid': '52b213b38594d8a2be17c780'},1999,November,2013-11-12T00:00:00Z,FEDERAL DEMOCRATIC REPUBLIC OF ETHIOPIA,2018-07-07T00:00:00Z,Federal Democratic Republic of Ethiopia!$!ET,ET,Federal Democratic Republic of Ethiopia,Ethiopia,...,"ET,BS,ES,EP",IBRD,Active,N,"{'Name': 'Education for all', 'Percent': 100}","[{'code': '65', 'name': 'Education for all'}]",65,130000000,130000000,http://www.worldbank.org/projects/P129828/ethi...
1,{'$oid': '52b213b38594d8a2be17c781'},2015,November,2013-11-04T00:00:00Z,GOVERNMENT OF TUNISIA,NaN,Republic of Tunisia!$!TN,TN,Republic of Tunisia,Tunisia,...,"BZ,BS",IBRD,Active,N,"{'Name': 'Other economic management', 'Percent...","[{'code': '24', 'name': 'Other economic manage...","54,24",0,4700000,http://www.worldbank.org/projects/P144674?lang=en
2,{'$oid': '52b213b38594d8a2be17c782'},2014,November,2013-11-01T00:00:00Z,MINISTRY OF FINANCE AND ECONOMIC DEVEL,NaN,Tuvalu!$!TV,TV,Tuvalu,Tuvalu,...,TI,IBRD,Active,Y,"{'Name': 'Regional integration', 'Percent': 46}","[{'code': '47', 'name': 'Regional integration'...","52,81,25,47",6060000,6060000,http://www.worldbank.org/projects/P145310?lang=en
3,{'$oid': '52b213b38594d8a2be17c783'},2014,October,2013-10-31T00:00:00Z,MIN. OF PLANNING AND INT'L COOPERATION,NaN,Republic of Yemen!$!RY,RY,Republic of Yemen,"Yemen, Republic of",...,JB,IBRD,Active,N,"{'Name': 'Participation and civic engagement',...","[{'code': '57', 'name': 'Participation and civ...","59,57",0,1500000,http://www.worldbank.org/projects/P144665?lang=en
4,{'$oid': '52b213b38594d8a2be17c784'},2014,October,2013-10-31T00:00:00Z,MINISTRY OF FINANCE,2019-04-30T00:00:00Z,Kingdom of Lesotho!$!LS,LS,Kingdom of Lesotho,Lesotho,...,"FH,YW,YZ",IBRD,Active,N,{'Name': 'Export development and competitivene...,"[{'code': '45', 'name': 'Export development an...","41,45",13100000,13100000,http://www.worldbank.org/projects/P144933/seco...

In [39]:
# Find the 10 countries with most projects
wb_json_df.columns

Index(['_id', 'approvalfy', 'board_approval_month', 'boardapprovaldate',
       'borrower', 'closingdate', 'country_namecode', 'countrycode',
       'countryname', 'countryshortname', 'docty', 'envassesmentcategorycode',
       'grantamt', 'ibrdcommamt', 'id', 'idacommamt', 'impagency',
       'lendinginstr', 'lendinginstrtype', 'lendprojectcost',
       'majorsector_percent', 'mjsector_namecode', 'mjtheme',
       'mjtheme_namecode', 'mjthemecode', 'prodline', 'prodlinetext',
       'productlinetype', 'project_abstract', 'project_name', 'projectdocs',
       'projectfinancialtype', 'projectstatusdisplay', 'regionname', 'sector',
       'sector1', 'sector2', 'sector3', 'sector4', 'sector_namecode',
       'sectorcode', 'source', 'status', 'supplementprojectflg', 'theme1',
       'theme_namecode', 'themecode', 'totalamt', 'totalcommamt', 'url',
       'count'],
      dtype='object')

In [40]:
wb_json_df['count'] = 1

In [13]:
count_sum = wb_json_df.groupby('countryname').sum()

In [20]:
count_sum.sort_values('count',ascending=False).head(10)

,approvalfy,grantamt,ibrdcommamt,idacommamt,lendprojectcost,totalamt,totalcommamt,count
countryname,,,,,,,,
People's Republic of China,38248,426810000,1540000000,0,6318470000,1540000000,1966810000,19
Republic of Indonesia,38247,49240000,2045500000,0,6443900000,2045500000,2094740000,19
Socialist Republic of Vietnam,34221,118240000,0,1832400000,2496420000,1832400000,1950640000,17
Republic of India,32212,8000000,877700000,1718000000,4230100000,2595700000,2603700000,16
Republic of Yemen,26171,27030000,0,256000000,295140000,256000000,283030000,13
People's Republic of Bangladesh,24157,65740000,0,1566500000,4185440000,1566500000,1632240000,12
Nepal,24157,87160000,0,316260000,2071820000,316260000,403420000,12
Kingdom of Morocco,24159,91250000,793200000,0,920190000,793200000,884450000,12
Republic of Mozambique,22144,15350000,0,657000000,705600000,657000000,672350000,11
Africa,22148,31930000,0,987900000,1759560000,987900000,1019830000,11

In [44]:
# Find the top 10 major project themes (using column 'mjtheme_namecode')
df_theme = wb_json_df[['mjtheme_namecode','count']]
df_theme

                                        theme_namecode  count
0        [{'code': '65', 'name': 'Education for all'}]      1
1    [{'code': '24', 'name': 'Other economic manage...      1
2    [{'code': '47', 'name': 'Regional integration'...      1
3    [{'code': '57', 'name': 'Participation and civ...      1
4    [{'code': '45', 'name': 'Export development an...      1
5       [{'code': '54', 'name': 'Social safety nets'}]      1
6    [{'code': '25', 'name': 'Administrative and ci...      1
7           [{'code': '81', 'name': 'Climate change'}]      1
8    [{'code': '79', 'name': 'Other rural developme...      1
9    [{'code': '29', 'name': 'Other accountability/...      1
10   [{'code': '91', 'name': 'Global food crisis re...      1
11   [{'code': '78', 'name': 'Rural services and in...      1
12                                                 NaN      1
13   [{'code': '47', 'name': 'Regional integration'...      1
14   [{'code': '54', 'name': 'Social safety nets'},...      1
15   [{'code': '78', 'name': 'Rural services and in...      1
16   [{'code': '79', 'name': 'Other rural developme...      1
17       [{'code': '65', 'name': 'Education for all'}]      1
18   [{'code': '63', 'name': 'Child health'}, {'cod...      1
19   [{'code': '27', 'name': 'Public expenditure, f...      1
20   [{'code': '58', 'name': 'Conflict prevention a...      1
21   [{'code': '71', 'name': 'Urban services and ho...      1
22   [{'code': '62', 'name': 'Other social developm...      1
23   [{'code': '68', 'name': 'Nutrition and food se...      1
24   [{'code': '75', 'name': 'Rural markets'}, {'co...      1
25   [{'code': '86', 'name': 'Other environment and...      1
26   [{'code': '40', 'name': 'Regulation and compet...      1
27   [{'code': '81', 'name': 'Climate change'}, {'c...      1
28   [{'code': '77', 'name': 'Rural policies and in...      1
29   [{'code': '62', 'name': 'Other social developm...      1
..                                                 ...    ...
470  [{'code': '49', 'name': 'Trade facilitation an...      1
471  [{'code': '78', 'name': 'Rural services and in...      1
472  [{'code': '86', 'name': 'Other environment and...      1
473  [{'code': '86', 'name': 'Other environment and...      1
474  [{'code': '72', 'name': 'Municipal finance'}, ...      1
475  [{'code': '39', 'name': 'Infrastructure servic...      1
476  [{'code': '78', 'name': 'Rural services and in...      1
477  [{'code': '41', 'name': 'Micro, Small and Medi...      1
478  [{'code': '25', 'name': 'Administrative and ci...      1
479  [{'code': '62', 'name': 'Other social developm...      1
480  [{'code': '30', 'name': 'Other public sector g...      1
481  [{'code': '63', 'name': 'Child health'}, {'cod...      1
482  [{'code': '78', 'name': 'Rural services and in...      1
483  [{'code': '84', 'name': 'Pollution management ...      1
484  [{'code': '76', 'name': 'Rural non-farm income...      1
485  [{'code': '64', 'name': 'Other communicable di...      1
486  [{'code': '30', 'name': 'Other public sector g...      1
487  [{'code': '80', 'name': 'Biodiversity'}, {'cod...      1
488  [{'code': '67', 'name': 'Health system perform...      1
489  [{'code': '71', 'name': 'Urban services and ho...      1
490  [{'code': '27', 'name': 'Public expenditure, f...      1
491  [{'code': '78', 'name': 'Rural services and in...      1
492  [{'code': '65', 'name': 'Education for all'}, ...      1
493  [{'code': '86', 'name': 'Other environment and...      1
494  [{'code': '52', 'name': 'Natural disaster mana...      1
495  [{'code': '40', 'name': 'Regulation and compet...      1
496  [{'code': '63', 'name': 'Child health'}, {'cod...      1
497  [{'code': '91', 'name': 'Global food crisis re...      1
498  [{'code': '78', 'name': 'Rural services and in...      1
499  [{'code': '73', 'name': 'Municipal governance ...      1

[500 rows x 2 columns]

In [43]:
#type(df_theme)
theme_sum = wb_json_df.groupby('mjtheme_namecode').sum()
#df_theme.groupby(['mjtheme_namecode'])['count'].sum()
# ['count']
#data.groupby(['col1', 'col2'])['col3'].mean()

#count_themes =

TypeError: unhashable type: 'list'

In [42]:
theme_sum.sort_values('count',ascending=False).head(10)

,approvalfy,grantamt,ibrdcommamt,idacommamt,lendprojectcost,totalamt,totalcommamt,count
countryname,,,,,,,,
Africa,22148,31930000,0,987900000,1759560000,987900000,1019830000,11
Antigua and Barbuda,2013,0,10000000,0,10000000,10000000,10000000,1
Arab Republic of Egypt,4026,30000,585400000,0,2404430000,585400000,585430000,2
Argentine Republic,4027,5860000,0,0,5860000,0,5860000,2
Bosnia and Herzegovina,2013,0,0,34100000,34100000,34100000,34100000,1
Burkina Faso,18117,11260000,0,335000000,435130000,335000000,346260000,9
Central African Republic,2013,250000,0,0,250000,0,250000,1
Democratic Republic of Sao Tome and Prin,4027,100000,0,5500000,5600000,5500000,5600000,2
Democratic Republic of Timor-Leste,4027,17700000,15000000,25000000,109700000,40000000,57700000,2
Democratic Republic of the Congo,12078,100500000,0,456950000,562150000,456950000,557450000,6
Democratic Socialist Republic of Sri Lan,2013,0,0,200000000,5170000000,200000000,200000000,1
East Asia and Pacific,2014,4500000,0,0,6500000,0,4500000,1
Europe and Central Asia,2013,11100000,0,0,11100000,0,11100000,1
Federal Democratic Republic of Ethiopia,8038,0,0,1245000000,5998200000,1245000000,1245000000,4
Federal Republic of Nigeria,14092,900000,0,1220000000,2617260000,1220000000,1220900000,7
Federative Republic of Brazil,18117,0,2326200000,0,3815140000,2326200000,2326200000,9
Georgia,6039,0,70000000,95000000,191250000,165000000,165000000,3
Hashemite Kingdom of Jordan,14093,65840000,220000000,0,300690000,220000000,285840000,7
Islamic Republic of Mauritania,4027,450000,0,25000000,102450000,25000000,25450000,2
Islamic Republic of Pakistan,18117,53000000,0,744000000,4121960000,744000000,797000000,9
Islamic State of Afghanistan,12079,174730000,0,217500000,714830000,217500000,392230000,6
Jamaica,4026,3050000,0,0,3050000,0,3050000,2
Kingdom of Bhutan,8052,5370000,0,45000000,52170000,45000000,50370000,4
Kingdom of Cambodia,4027,14180000,0,0,14180000,0,14180000,2
Kingdom of Lesotho,6040,0,0,45100000,55000000,45100000,45100000,3
Kingdom of Morocco,24159,91250000,793200000,0,920190000,793200000,884450000,12
Kingdom of Thailand,2013,3000000,0,0,3000000,0,3000000,1
Kingdom of Tonga,2013,0,0,1800000,1800000,1800000,1800000,1
Kyrgyz Republic,14092,13680000,0,62200000,1429080000,62200000,75880000,7
Lao People's Democratic Republic,14092,8880000,0,69500000,110690000,69500000,78380000,7
...,...,...,...,...,...,...,...,...
Republic of South Sudan,6040,7530000,0,71000000,127030000,71000000,78530000,3
Republic of Tajikistan,16105,24600000,0,71000000,142980000,71000000,95600000,8
Republic of The Gambia,4027,2850000,0,5000000,7850000,5000000,7850000,2
Republic of Togo,6039,9840000,0,14000000,23840000,14000000,23840000,3
Republic of Tunisia,8054,9570000,500000000,0,515350000,500000000,509570000,4
Republic of Turkey,8052,3640000,1301000000,0,1680220000,1301000000,1304640000,4
Republic of Uganda,8052,3000000,0,262000000,267500000,262000000,265000000,4
Republic of Uzbekistan,10065,12700000,0,315000000,510390000,315000000,327700000,5
Republic of Vanuatu,6039,10810000,0,0,16750000,0,10810000,3
Republic of Yemen,26171,27030000,0,256000000,295140000,256000000,283030000,13
Republic of Zambia,8052,36350000,0,155000000,296350000,155000000,191350000,4
Republic of Zimbabwe,2013,20000000,0,0,21000000,0,20000000,1
Republic of the Marshall Islands,4026,1350000,0,3000000,4350000,3000000,4350000,2
Republic of the Philippines,6039,5570000,400000000,0,405730000,400000000,405570000,3
Republic of the Sudan,8052,83380000,0,0,83680000,0,83380000,4
Republic of the Union of Myanmar,6040,0,0,660000000,666300000,660000000,660000000,3
Romania,2013,0,91800000,0,92050000,91800000,91800000,1
Russian Federation,8054,0,170000000,0,434630000,170000000,170000000,4
Samoa,8054,14800000,0,40000000,57020000,40000000,54800000,4
Socialist Republic of Vietnam,34221,118240000,0,1832400000,2496420000,1832400000,1950640000,17
Solomon Islands,6042,300000,0,5000000,7800000,5000000,5300000,3
South Asia,4026,480000,0,99000000,101480000,99000000,99480000,2
The Independent State of Papua New Guine,10065,5090000,0,7300000,20440000,7300000,12390000,5
Tuvalu,2014,0,0,6060000,6060000,6060000,6060000,1
Ukraine,8053,1500000,460000000,0,573500000,460000000,461500000,4
Union of the Comoros,6040,0,0,13000000,13000000,13000000,13000000,3
United Mexican States,4026,11690000,50000000,0,162140000,50000000,61690000,2
United Republic of Tanzania,16105,5980000,0,606460000,644280000,606460000,612440000,8
West Bank and Gaza,12079,75050000,0,0,155540000,0,75050000,6
World,4027,6120000,0,0,22010000,0,6120000,2