In [2]:
#import chardet
#chardet.detect(rawdata)
# often utf-8
# Data from https://github.com/TheUpshot/Military-Surplus-Gear
import pandas as pd

In [25]:
import numpy as np

In [10]:
df = pd.read_csv('1033-program-foia-may-2014.csv')
# 
df.columns

Index(['State', 'County', 'NSN', 'Item Name', 'Quantity', 'UI',
       'Acquisition Cost', 'Ship Date'],
      dtype='object')

In [11]:
df.describe()

            Quantity  Acquisition Cost
count  243492.000000      2.434920e+05
mean       11.289784      6.181218e+03
std       242.904563      1.152780e+05
min         1.000000      0.000000e+00
25%         1.000000      6.045000e+01
50%         1.000000      2.000000e+02
75%         4.000000      4.990000e+02
max     91000.000000      1.800000e+07

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 243492 entries, 0 to 243491
Data columns (total 8 columns):
State               243492 non-null object
County              243422 non-null object
NSN                 243309 non-null object
Item Name           239658 non-null object
Quantity            243492 non-null int64
UI                  243491 non-null object
Acquisition Cost    243492 non-null float64
Ship Date           243492 non-null object
dtypes: float64(1), int64(1), object(6)
memory usage: 14.9+ MB

In [7]:
# can call with dtype while reading the file
# or 
# df.column = df.colum.astype(int)
# after reading
# categorical
# 
# dealing with missing data
# dropna
# fillna( method=("bfill","ffill"))
#

In [13]:
df['State']

0         AK
1         AK
2         AK
3         AK
4         AK
5         AK
6         AK
7         AK
8         AK
9         AK
10        AK
11        AK
12        AK
13        AK
14        AK
15        AK
16        AK
17        AK
18        AK
19        AK
20        AK
21        AK
22        AK
23        AK
24        AK
25        AK
26        AK
27        AK
28        AK
29        AK
          ..
243462    WY
243463    WY
243464    WY
243465    WY
243466    WY
243467    WY
243468    WY
243469    WY
243470    WY
243471    WY
243472    WY
243473    WY
243474    WY
243475    WY
243476    WY
243477    WY
243478    WY
243479    WY
243480    WY
243481    WY
243482    WY
243483    WY
243484    WY
243485    WY
243486    WY
243487    WY
243488    WY
243489    WY
243490    WY
243491    WY
Name: State, Length: 243492, dtype: object

In [14]:
df['Item Name']

0                RIFLE,5.56 MILLIMETER
1                RIFLE,5.56 MILLIMETER
2                RIFLE,5.56 MILLIMETER
3                RIFLE,5.56 MILLIMETER
4                RIFLE,5.56 MILLIMETER
5                RIFLE,5.56 MILLIMETER
6                RIFLE,5.56 MILLIMETER
7                RIFLE,5.56 MILLIMETER
8                RIFLE,5.56 MILLIMETER
9                RIFLE,5.56 MILLIMETER
10               RIFLE,5.56 MILLIMETER
11               RIFLE,5.56 MILLIMETER
12               RIFLE,5.56 MILLIMETER
13               RIFLE,5.56 MILLIMETER
14               RIFLE,5.56 MILLIMETER
15               RIFLE,5.56 MILLIMETER
16               RIFLE,5.56 MILLIMETER
17               RIFLE,5.56 MILLIMETER
18               RIFLE,5.56 MILLIMETER
19               RIFLE,5.56 MILLIMETER
20               RIFLE,5.56 MILLIMETER
21               RIFLE,5.56 MILLIMETER
22               RIFLE,5.56 MILLIMETER
23               RIFLE,5.56 MILLIMETER
24               RIFLE,5.56 MILLIMETER
25               RIFLE,5.56 MILLIMETER
26               RIFLE,5.56 MILLIMETER
27               RIFLE,5.56 MILLIMETER
28               RIFLE,5.56 MILLIMETER
29               RIFLE,5.56 MILLIMETER
                      ...
243462           RIFLE,7.62 MILLIMETER
243463           RIFLE,7.62 MILLIMETER
243464           RIFLE,7.62 MILLIMETER
243465           RIFLE,7.62 MILLIMETER
243466           RIFLE,7.62 MILLIMETER
243467           RIFLE,7.62 MILLIMETER
243468    PISTOL,CALIBER .45,AUTOMATIC
243469    PISTOL,CALIBER .45,AUTOMATIC
243470    PISTOL,CALIBER .45,AUTOMATIC
243471    PISTOL,CALIBER .45,AUTOMATIC
243472    PISTOL,CALIBER .45,AUTOMATIC
243473    PISTOL,CALIBER .45,AUTOMATIC
243474    PISTOL,CALIBER .45,AUTOMATIC
243475    PISTOL,CALIBER .45,AUTOMATIC
243476    PISTOL,CALIBER .45,AUTOMATIC
243477    PISTOL,CALIBER .45,AUTOMATIC
243478                   TRUCK,UTILITY
243479                   TRUCK,UTILITY
243480                   TRUCK,UTILITY
243481                   TRUCK,UTILITY
243482                   TRUCK,UTILITY
243483                   CARRIER,CARGO
243484             MODULAR SLEEP SYSTE
243485           RIFLE,7.62 MILLIMETER
243486           RIFLE,7.62 MILLIMETER
243487           RIFLE,7.62 MILLIMETER
243488           RIFLE,7.62 MILLIMETER
243489           RIFLE,7.62 MILLIMETER
243490           RIFLE,7.62 MILLIMETER
243491           RIFLE,7.62 MILLIMETER
Name: Item Name, Length: 243492, dtype: object

In [16]:
expensive = df['Acquisition Cost'] > 100000
expensive

0         False
1         False
2         False
3         False
4         False
5         False
6         False
7         False
8         False
9         False
10        False
11        False
12        False
13        False
14        False
15        False
16        False
17        False
18        False
19        False
20        False
21        False
22        False
23        False
24        False
25        False
26        False
27        False
28        False
29        False
          ...
243462    False
243463    False
243464    False
243465    False
243466    False
243467    False
243468    False
243469    False
243470    False
243471    False
243472    False
243473    False
243474    False
243475    False
243476    False
243477    False
243478    False
243479    False
243480    False
243481    False
243482    False
243483     True
243484    False
243485    False
243486    False
243487    False
243488    False
243489    False
243490    False
243491    False
Name: Acquisition Cost, Length: 243492, dtype: bool

In [19]:
# indexing
df[expensive].count()

State               2067
County              2066
NSN                 2065
Item Name           2048
Quantity            2067
UI                  2067
Acquisition Cost    2067
Ship Date           2067
dtype: int64

In [21]:
df['UI'].value_counts()

Each           220148
Pair             3830
Unknown          3085
PR               2909
Kit              2721
Set              1964
KT               1097
SE               1081
Package           933
PG                796
Box               636
Assembly          552
BX                433
Roll              294
Foot              260
FT                242
LT                212
RO                181
AY                174
Hundred           163
Lot               149
Pound             120
Sheet              95
Spool              92
Dozen              89
DZ                 87
Reel               83
RL                 67
Yard               65
SH                 62
                ...
Meter               3
Bottle              3
BA                  3
Square yard         3
Cartridge           3
Hank                3
CA                  3
Ration              2
GR                  2
LG                  2
Packet              2
Ounce               2
MR                  2
BT                  2
CT                  2
RA                  2
Book                1
HK                  1
Inch                1
JR                  1
UU                  1
Group               1
Bolt                1
Board Foot          1
UN                  1
SD                  1
SK                  1
CY                  1
Skein               1
E4                  1
Name: UI, Length: 107, dtype: int64

In [23]:
# make consistent 
df = df.replace({"UI":["EA","EACH","PR"]},
               {"UI":["Each","Each","Pair"]})

In [26]:
df = df.replace({"UI":"Unknown"},{"UI":np.NaN})

In [27]:
df['UI'].value_counts()[20:]

Sheet         95
Spool         92
Dozen         89
DZ            87
Reel          83
RL            67
Yard          65
SH            62
HD            55
Coil          54
SL            53
CL            52
LB            51
CS            46
CN            40
Drum          38
Can           34
Container     25
CO            22
Bundle        20
Assortment    18
BD            17
Outfit        16
Plate         15
Tube          15
AT            13
Bag           12
Quart         12
BG            12
PT            12
              ..
BA             3
Bottle         3
SP             3
Pad            3
Cartridge      3
Hank           3
Meter          3
LG             2
Ounce          2
CT             2
GR             2
BT             2
RA             2
Ration         2
MR             2
Packet         2
SD             1
CY             1
Inch           1
UN             1
Board Foot     1
SK             1
Book           1
UU             1
JR             1
HK             1
Skein          1
E4             1
Group          1
Bolt           1
Name: UI, Length: 84, dtype: int64

In [32]:
df.sort_values("Quantity",ascending=False)\
    [["Item Name", "Quantity", "UI"]]

                                  Item Name  Quantity       UI
52530                       WIRE,ELECTRICAL     91000     Foot
36221                 SCREW,CAP,SOCKET HEAD     43822     Each
209588                   MAGAZINE,CARTRIDGE     40000     Each
206969                  BANDAGE KIT,ELASTIC     22428     Each
232989                           CPCV BRASS     21100       LB
89281            PANELING MATERIAL,BUILDING     10000    Pound
188594                   MAGAZINE,CARTRIDGE      9415     Each
188634                BUTTSTOCK,SUBASSEMBLY      9000     Each
232074             5 56 EXPENDED BALL BRASS      7700       LB
210585                 DRESSING,COMPRESSION      7545     Each
52399   STRAP,TIEDOWN,ELECTRICAL COMPONENTS      6000     Each
52536                           CABLE  COAX      6000       FT
39189                    RUBBER SHEET,SOLID      6000     Each
36226                           WASHER,FLAT      5181     Each
79291                         DRAWERS,MEN'S      5000     Pair
53473                           BANDAGE KIT      5000       KT
96916   STRAP,TIEDOWN,ELECTRICAL COMPONENTS      5000     Each
78441                    MAGAZINE,CARTRIDGE      5000     Each
165455                             BAG,SAND      5000  Hundred
39190                    RUBBER SHEET,SOLID      5000     Each
65245                   FILTER ELEMENT SET,      4245       SE
37344                      SPOON,FIELD MESS      3824     Each
210505  STRAP,TIEDOWN,ELECTRICAL COMPONENTS      3727     Each
209584                   MAGAZINE,CARTRIDGE      3647     Each
79167                                SHEETS      3320     Each
3516                       POST,FENCE,METAL      3306     Each
3518                       POST,FENCE,METAL      3306     Each
3517                       POST,FENCE,METAL      3306     Each
3520                       POST,FENCE,METAL      3306     Each
210589                         BLANKET,BURN      3100     Each
...                                     ...       ...      ...
102576                  GENERATOR SET,DIESE         1     Each
102577                  GENERATOR SET,DIESE         1     Each
102578                  GENERATOR SET,DIESE         1     Each
102579                  GENERATOR SET,DIESE         1     Each
102580                  GENERATOR SET,GASOL         1     Each
102581           CPCVX PORTABLE LIGHT TOWER         1     Each
102562               MINI P U TRK MICRO 111         1     Each
102560                               PICKUP         1     Each
102539                        TRUCK,UTILITY         1     Each
102559                               PICKUP         1     Each
102540                        TRUCK,UTILITY         1     Each
102541                  TRUCK,DUMP                  1     Each
102542                        TRUCK,UTILITY         1     Each
102543                        TRUCK,UTILITY         1     Each
102544                        TRUCK,UTILITY         1     Each
102545                        TRUCK,UTILITY         1     Each
102546                        TRUCK,UTILITY         1     Each
102547                        TRUCK,UTILITY         1     Each
102548                        TRUCK,UTILITY         1     Each
102549                        TRUCK,UTILITY         1     Each
102550                        TRUCK,UTILITY         1     Each
102551                        TRUCK,UTILITY         1     Each
102552                        TRUCK,UTILITY         1     Each
102553                        TRUCK,UTILITY         1     Each
102554                            TRUCK,VAN         1     Each
102555                  TRUCK,VAN                   1     Each
102556                  TRUCK,SERVICING PLA         1     Each
102557                               PICKUP         1     Each
102558                               PICKUP         1     Each
243491                RIFLE,7.62 MILLIMETER         1     Each

[243492 rows x 3 columns]

In [33]:
# regular expresions
# for date
#df.column[df.colum.str.contains("(\d{4}-\d{2}-\d{2})")]
# df["Item Name"].str.lower()
#df.pivot(index='date',columns='variable',value='')

In [34]:
# groupby
df.groupby("State")[['Acquisition Cost']].sum()

       Acquisition Cost
State
AK         7.065548e+05
AL         1.173220e+08
AR         2.180638e+07
AZ         3.717375e+07
CA         9.219959e+07
CO         1.770129e+07
CT         7.920540e+06
DC         2.174148e+07
DE         1.248318e+07
FL         2.528014e+08
GA         7.425813e+07
GU         5.466525e+06
HI         5.210544e+05
IA         7.493026e+06
ID         7.491469e+06
IL         6.385693e+07
IN         4.315387e+07
KS         4.009658e+06
KY         3.867267e+07
LA         2.032754e+07
MA         1.187871e+07
MD         7.049131e+06
ME         1.204839e+07
MI         4.355755e+07
MN         8.580401e+06
MO         1.748115e+07
MS         1.791295e+06
MT         8.943135e+06
NC         1.729602e+07
ND         3.871165e+06
NE         5.430788e+06
NH         8.806116e+06
NJ         2.407546e+07
NM         2.507791e+07
NV         5.836318e+06
NY         2.492035e+07
OH         4.106699e+07
OK         2.611346e+07
OR         6.891336e+06
PA         5.942289e+06
PR         3.771213e+07
RI         4.812144e+06
SC         4.944689e+07
SD         1.771106e+06
TN         8.803681e+07
TX         9.396012e+07
UT         2.264747e+06
VA         2.425765e+07
VI         2.285040e+05
VT         1.609630e+06
WA         2.354398e+07
WI         1.012269e+07
WV         8.970651e+06
WY         4.575149e+06

In [35]:
# workhorse
# lambda
f = lambda x: len(str(x))

In [36]:
# merging Datasets
# make sure the types match
# data frame size (before and after)
# how = ineer and how=outer
#pd.merge(ages,weights,left_on='cats',right_one='cats')

In [37]:
# to do visualizations
# ggplot
# bokeh
# seaborn
# matplotlib
# glue

In [38]:
# extract from PDFs suck
# reusable code over notebooks
# repeatability matters
# make, tup
# data pipelines: OKFN Bubles, Storm, Spark, etc.
# ETL
# 1. Wrangle data
# 2. Run calculations on standardized data
# 3. ???
# 4. Profit!!!

In [39]:
# be aware of the data you load into memory
# _csv, usecols=["blah"]
# iterator=True, chunksize=100000

In [40]:
# Blaze
# interfase for large datasets

In [ ]:
# Documentations matters
# suggestions?
# dictionary or schema?